<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
       <!-- <h1>if Condition</h1>
        {% if age < 21 %}
            <h1>{{name}} is childuu </h1>
        {% endif %} >   

        <h1> if - else </h1>
        {% if age < 23 %}
        <h1>{{name}} is jobless</h1>
        {% else %}
        <h1>{{name}} else got job </h1>
        {% endif %} 

        <h1> elif </h1>
        {% if age > 29 %}
        <h1>{{name}} gets married </h1>
        {% elif  age > 31%}
        <h1>{{ name }} gets is 1st child </h1>
        {% elif age > 34  %}
        <h1>{{ name }} gets 2nd Marriage</h1>
        {% else  %}
        <h1> 2nd baby with twins </h1>
        {% endif %}           
        

        <h1> for loop </h1>
        {% for i in name %}
            {{i}}   it give output in single line 
        {% endfor %} -->
        <h1> for loop </h1> 
        {% for i in name %}
        <h1> {{i}} </h1>
        {% endfor %}

    </body>
</html>